.purism-horizontal-scroll-row {
  position: relative;
  display: flex;
  width: auto;
  padding: 0;
  align-items: stretch;
  justify-content: center;
  overflow-y: visible;
}
.purism-horizontal-scroll-left-button-bar,
.purism-horizontal-scroll-right-button-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0px 10px;
  display: flex;
  z-index: 2;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0s;
}
.purism-horizontal-scroll-left-button-bar.hide-d,
.purism-horizontal-scroll-right-button-bar.hide-d {
  transition: visibility 0s linear 0.3s opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.purism-horizontal-scroll-left-button-bar {
  left: 0;
  padding-left: 20px;
}
.purism-horizontal-scroll-right-button-bar {
  right: 0;
  padding-right: 20px;
}
.purism-horizontal-scroll-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.purism-horizontal-scroll-circular-button {
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.purism-horizontal-scroll-container {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.purism-horizontal-scroll-container > ul {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: stretch;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.purism-horizontal-scroll-container > ul::-webkit-scrollbar {
  display: none;
}
.purism-horizontal-scroll-container > ul > li {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  width: auto;
  margin-right: 5px;
  transition: width 0.3s linear, top 0.3s linear;
}
.unstyledA {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}
